build/
output/
scripts/*.asv
~*

# Precompiled Headers
*.gch
*.pch

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# other
input/feflo.domn
output/*
*.swp
*.core
.cache/

# output
iceicle_data/

#pybind install
pycicle.egg-info

#python
__pycache__
